    body {
        margin: 0;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    
    code {
        font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    }
    
    .favButton {
        background-color: rgba(136, 136, 136, 0.116);
        padding: 10px;
        border: none;
        width: 100%;
        cursor: pointer;
    }
    
    h1 {
        text-align: center;
    }
    
    .links {
        display: flex;
        width: 100vw;
        justify-content: space-between;
        padding: 1rem;
        border: solid black 2px;
        background-color: #23A6F0;
    }
    
    .logo {
        display: flex;
        justify-content: space-around;
    }
    
    .logo img {
        width: 191px;
        height: 154px;
    }
    
    .link {
        color: #000;
        text-decoration: none;
        margin: 5px;
        cursor: pointer;
    }
    
    link:hover {
        color: rgb(136, 136, 136);
    }
    
    footer {
        display: flex;
        justify-content: flex-start;
        text-align: center;
        padding: 2rem;
        position: relative;
        bottom: 0;
        width: 100%;
        height: 150px;
        margin-top: 4rem;
        border: solid black 2px;
        margin-bottom: 0px;
    }
    
    .search {
        display: flex;
        justify-content: space-between;
        text-align: center;
        padding: 2rem;
        width: 100%;
        height: 15vh;
        margin-top: 250px;
        border: solid black 2px;
        background-color: #0081FE;
    }
    
    .search button {
        background-color: #23A6F0;
        border-radius: 12px;
        height: 80px;
        width: 250px;
        color: white;
        font-size: 2em;
    }
    
    ba footer>img {
        width: 100px;
        height: 100px;
    }
    
    footer>p {
        margin: 0;
        padding-top: 0.7rem;
    }
    
    form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 300px;
        height: 200px;
        margin: 0 auto;
    }
    
    .card {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        width: 200px;
        padding: 0.5rem 0.5rem 0 0.5rem;
        border: 0.5px solid rgb(136, 136, 136);
        border-radius: 20px;
    }
    
    .card:hover {
        border: 0.5px solid rgb(206, 217, 142);
    }
    
    .card-grid {
        /* display: flex;
        flex-wrap: wrap;
        margin-top: 150px; */
        height: 100vh;
    }
    
    .marcas {
        display: flex;
        flex-wrap: wrap;
        height: 30vh;
        /* margin-top: 250px; */
        margin-left: 200px;
        /* border: solid 2px black;
        background-color: #90D7FF; */
    }
    
    .recomendaciones {
        display: flex;
        flex-wrap: wrap;
        height: 30vh;
        /* border: solid 2px black;
        background-color: #90D7FF; */
    }
    
    .text-input input {
        border-radius: 12px;
        height: 80px;
        width: 250px;
        margin-left: 80px;
    }
    
    */ */ table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        display: table;
        border: 1px solid #ccc;
    }
    
    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    
    tr:nth-child(even) {
        background-color: #dddddd;
    }
    
    .dark {
        background-color: #12121296;
        color: white;
    }
    
    .dark>.links {
        color: white;
    }
    
    html {
        box-sizing: border-box;
        height: 100vh;
    }
    
    .register-login button {
        background-color: #2173D8;
        margin-right: 15px;
        border-radius: 8px;
        height: 70px;
        width: 200px;
        font-size: 1.8em;
        color: white;
    }